#!/bin/bash
PRIMARY_IP=$(ip -4 addr show scope global | grep -oP 'inet \K[\d.]+' | head -n1)

echo "Welcome to the [ H O M E L A B ] 👨💻"

echo "Hostname: $(hostname)"
echo "IP Address: $PRIMARY_IP"
echo "Kernel: $(uname -r)"
echo "Uptime: $(uptime -p)"

echo "Have fun, sysadmin!"